{% extends "common/layout.html" %}

{% block content %}
    {% from "common/forms.html" import render_field, render_submit_field %}

    <section class="first-section">
        <div class="container">
        {% include "pages/adminka/components/add_match.html" %}

                <div class="table-container">
                    <h3>Matches list:</h3>
                    <table class="table">
                        <thead class="thead-light">
                        <tr>
                            <th>
                                ID
                            </th>
                            <th>
                                Name
                            </th>
                            <th>
                                Status
                            </th>
                            <th>
                                Datetime of match
                            </th>
                            <th>
                                Pool
                            </th>
                        </tr>
                        </thead>
                        {% for match in matches %}
                            <tr>
                                <td>{{ match.id }}</td>
                                <td>
                                    <a href="/admin/matches/{{ match.id }}">
                                        {{ match.name }}
                                    </a>
                                </td>
                                <td>
                                    {{ match.match_status }}
                                </td>
                                <td>
                                    {{ match.datetime_match }}
                                </td>
                                <td>
                                    {{ match.pool_amount }}
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>

        </div>
    </section>
{% endblock %}