{% extends "common/layout.html" %}

{% block title %}{{ super() }} - Adminka{% endblock %}

{% block styles %}
{{ super() }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}

{% block content %}
    {% from "common/forms.html" import render_field, render_submit_field %}

    <section class="first-section">
        <div class="container">
                    <p style="margin: 0px 0px 12px">
                        <a href="/admin/matches" style="color: black; text-decoration: none">
                        <button class="btn btn-light" style="font-size:18px">

                                 Back to matches
                                <i class="fa fa-arrow-left"></i>
                        </button>
                            </a>
                    </p>
                    <h3>Match #{{ match.id }}</h3>

                    <p><b>Name:</b> {{ match.name }}</p>
                    <p><b>Status:</b> {{ match.match_status }}</p>
                    <p><b>Bets accepted until:</b> {{ match.datetime_match }}</p>

                    {% if match.match_status == 'pending' %}
            {% include "pages/adminka/components/add_event.html" %}
            {% endif %}
            <div class="table-container">
                    <h4 style="margin-top: 60px">Events</h4>
                    <table class="table">
                        <thead class="thead-light">
                        <tr>
                            <th>
                                ID
                            </th>
                            <th>
                                Name
                            </th>
                            <th>
                                Coefficient
                            </th>
                            <th>
                                Outcome
                            </th>
                        </tr>
                        </thead>
                        {% for event in match.events %}
                            <tr>
                                <td>{{ event.id }}</td>
                                <td>
                                    {{ event.name }}
                                </td>
                                <td>
                                    {{ event.coefficient }}
                                </td>
                                <td>
                                    {% if match.match_status == "waiting_results" %}
                                        <select class="event-outcome-select" name="{{ event.id }}">
                                            {% if event.outcome == None %}
                                                <option value="" selected>
                                                    -
                                                </option>
                                            {% endif %}
                                            {% for outcome in possible_outcomes %}
                                                <option value="{{ outcome.id }}"
                                                        {% if event.outcome == outcome %}selected{% endif %}>
                                                    {{ outcome.name }}
                                                </option>
                                            {% endfor %}
                                        </select>
                                    {% else %}
                                        {{ event.outcome.name }}
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                {% if match.match_status == "waiting_results" %}
                    <a class="btn btn-primary" id="save-outcomes-btn" href="#" role="button">Save outcomes</a>
                {% endif %}
            </div>
        </div>
    </section>
{% endblock %}


{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/admin.js') }}"></script>
{% endblock %}