{% extends "common/layout.html" %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/basketball.css') }}">
{% endblock %}

{% block content %}
    <section class="play-main">
        <div class="container">
            <h2 class="page-title">Basketball</h2>
            <div class="row matches-row">
                {% for match in matches %}
                    <div class="col-sm-6 match-column">
                        <a href="/play/{{ match.id }}" class="match-wrapper">
                            <div class="match-name">
                                <div class="match-name-main">{{ match.name }}</div>
                                <div class="match-name-subtext">(Match #{{ match.id }})</div>
                            </div>
                            <div class="match-countdown">
                                <div class="match-countdown-text">Remaining time</div>
                                <div class="Match-countdown-wrapper" data-countdown="{{ match.datetime_match }}">
                                    <div class="js-days"></div>
                                    <div class="divider">:</div>
                                    <div class="js-hours"></div>
                                    <div class="divider">:</div>
                                    <div class="js-minutes"></div>
                                    <div class="divider">:</div>
                                    <div class="js-seconds"></div>
                                </div>
                            </div>

                            <div class="match-pool">
                                <div class="match-pool-text">Pool:</div>
                                <div class="match-pool-amount">
                                    {{ match.pool_amount }}
                                </div>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}