{% extends "common/layout.html" %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/games.css') }}">
{% endblock %}

{% block content %}
    <section class="first-section">
        <div class="container">
            <h2 class="page-title">Matches</h2>
            <div class="row matches-row">
                {% for match in matches %}
                    {{ len }}
                    <div class="col-sm-12 col-md-6 match-column">
                        <a href="/play/{{ match.id }}" class="match-wrapper">
                            <div class="match-name">

                                <div class="match-name-main">{{ match.name }}</div>
                            </div>
                            <div class="match-date">
                                <div>Start at</div>
                                <div>{{ match.datetime_match }}</div>
                            </div>
                            {% include "/pages/games/components/countdown.html" %}
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}