
.match-column {
  padding: 10px;
}
.matches-row {
  margin-top: 30px;
}
.match-wrapper {
  position: relative;
  padding: 20px;
  cursor: pointer;
  height: 100%;
  min-height: 300px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  text-align: center;
  color: #e2e3e5;
  text-decoration: none;
}
.match-wrapper:before {
  position: absolute;
  content: "";
  background: url("/static/images/bg2.jpg") no-repeat center;
  background-size: 105%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.4;
  z-index: -1;
  transition-duration: 0.3s;
}
.match-wrapper:hover {
  box-shadow: none;
  text-decoration: none;
  color: #ffffff;
}
.match-wrapper:hover:before {
  background-size: 115%;
  opacity: 0.6;
}
.match-name-main {
  font-size: 25px;
  text-transform: uppercase;
  font-weight: 500;
}
.match-date {
  font-size: 22px;
}
.match-countdown {
  margin-top: 30px;
}
.match-countdown-wrapper {

  font-size: 19px;
  font-weight: 300;
}
.match-wrapper .match-countdown-text {
  opacity: 0.8;
}
.match-wrapper .match-pool {
  margin-top: 30px;
}
.match-wrapper .match-pool-text {
  opacity: 0.8;
}
.match-wrapper .match-pool-amount {
  font-size: 24px;
}