placebet {
  margin-top: 60px;
  margin-bottom: 40px;
}
.match-info-container {
  margin-top: 60px;
}
.match-actions-wrapper {
  margin: 20px 0;
  padding: 15px 20px;
  background-color: rgba(42, 42, 50, 0.71);
}
.match-info-wrapper {
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
  color: white;
  position: relative;
}
.match-info:before {
  position: absolute;
  content: "";
  background: url("/static/images/bg1.jpg") no-repeat center;
  background-size: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.2;
  z-index: -1;
}

@media screen and (max-device-width: 500px) {
  .match-info:before {
  position: absolute;
  content: "";
  background: url("/static/images/bg1.jpg") no-repeat center;
  background-size: 130%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.2;
  z-index: -1;
}
}

.bet-info {
  padding: 15px 20px;
  background-color: rgba(42, 42, 50, 0.71);
}
.bet-wrapper {
  display: flex;
  justify-content: space-between;
}
.input-placebet {
  display: block;
  flex: 1;
  border: 1px solid rgba(143, 143, 143, 0.8);
  margin-right: 10px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: rgba(8, 8, 8, 0.35);
  color: white;
  min-width: 100px;
}
.match-info {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  text-align: center;
  text-decoration: none;
}
 .match-name-main {
  font-size: 25px;
  text-transform: uppercase;
  font-weight: 600;
}
.match-countdown {
  margin-top: 30px;
}
.match-countdown-wrapper {
  display: flex;
  justify-content: center;
  font-size: 20px;
  font-weight: 600;
}

.match-countdown-wrapper > div {
  margin: 0 3px;
}

.match-pool {
  margin-top: 30px;
}
 .match-pool-text {
  opacity: 0.8;
}
.match-pool-amount {
  font-size: 20px;
}
.table-events {
  color: #e2e3e5;
  text-align: center;
}
.table-events td {
  vertical-align: middle;
  border: none;
  padding: 10px;
}
.event-wrapper:nth-of-type(odd) {
  background-color: rgba(12, 12, 12, 0.15);
}
.event-index {
  font-size: 14px;
  opacity: 0.8;
}
.event-datetime {
  font-size: 14px;
  opacity: 0.8;
}
.event-name {
  font-size: 16px;
}
.outcome-stylized {
  background: rgba(117, 102, 117, 0.75);
  font-size: 18px;
  padding: 6px 9px;
  min-width: 60px;
  line-height: 1;
  display: inline-block;
  text-align: center;
}
.event-outcomes input {
  display: none;
}
.event-outcomes input:checked + .outcome-stylized {
  background: #008700;
  transition-duration: 0.7s;
}
.event-outcomes .outcome-label {
  margin: 0;
  cursor: pointer;
  user-select: none;
}